{% extends "layout.html" %}
{% block body %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mezcla Manual de Ingredientes</title>
    <!-- Incluimos Mathjax para renderizar código Latex -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.0/es5/tex-mml-chtml.js"></script>
    
</head>
<body>
<div class="container mt-5">
    <!-- Título principal -->
    <h1 class="text-center text-primary mb-4">Mezcla Manual de Ingredientes</h1>
    
    <!-- Tabla de aminoácidos -->
    <div class="card shadow-lg mb-4">
        <div class="card-header bg-info text-white">
            <h2 class="text-center">Requerimiento de Aminoácidos Escenciales</h2>
        </div>
        <div class="card-body">
            <table class="table table-bordered text-center">
                <thead class="table-light">
                    <tr>
                        {% for aminoacido in aminoacidos %}
                            <th>{{ aminoacido }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for aminoacido in aminoacidos %}
                            <td>{{ referencia_aminoacidos[aminoacido] }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
            <p class="text-center"><a href="https://scielo.isciii.es/scielo.php?script=sci_arttext&pid=S0212-16112006000100009" class="btn btn-link">Referencia Aminoácidos Escenciales (ver)</a></p>
        </div>
    </div>

    <!-- Formulario de ingredientes -->
    <form method="POST" action="{{ url_for('mezcla_optima') }}">
        <div class="card shadow-lg mb-4">
            <div class="card-header bg-success text-white">
                <h2 class="text-center">Selección de % de Ingredientes</h2>
            </div>
            <div class="card-body">
                <table class="table table-bordered text-center">
                    <thead class="table-light">
                        <tr>
                            <th>Ingrediente</th>
                            <th>Digestibilidad de la Proteína</th>
                            <th>Porcentaje Mínimo en Mezcla (%)</th>
                            <th>Porcentaje Máximo en Mezcla (%)</th>
                            <th>Porcentaje Óptimo en Mezcla (%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ingrediente in ingredientes %}
                        <tr>
                            <td>{{ ingrediente[1] }}</td>
                            <td>{{ digestibilidades[ingrediente[0]] }} </td>
                            <td>
                                <input type="number" step="1.0" name="porcentaje_min" 
                                       value="{{ porcentajes_num_min[ingrediente[0]] }}" 
                                       min="0" max="100" class="form-control">
                            </td>
                            <td>
                                <input type="number" step="1.0" name="porcentaje_max" 
                                       value="{{ porcentajes_num_max[ingrediente[0]] }}" 
                                       min="0" max="100" class="form-control">
                            </td>
                            {% if optimo %}
                                <td>{{ (optimo[ingrediente[0]]*100)|round }} </td>
                            {% else %}
                                <td> 0 </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer text-center">
                <button type="submit" class="btn btn-primary">Calcular</button>
            </div>
        </div>
    </form>

    <!-- Resultados -->
    <div class="card shadow-lg mb-4">
        <div class="card-header bg-warning text-white">
            <h2 class="text-center">Resultados</h2>
        </div>
        <div class="card-body">
            <p><strong>Porcentaje Total:</strong> {{ porcentaje_total }}%</p>
            <p><strong>Score Proteico:</strong> {{ score_proteico }}%</p>
            <p><strong>Digestibilidad:</strong> {{ digestibilidad_mezcla }}%</p>
            <p><strong>PDCAAS:</strong> {{ PDCAAS }}%</p>
            <p><strong>Costo por kg de Mezcla:</strong> ${{ costo_por_kg }}</p>
            <p><strong>Fracción de Proteína:</strong> {{ fraccion_proteina }}</p>
            <p><strong>Costo por kg de proteína asimilable:</strong> ${{ costo_kg_prot_asimilable }}</p>
            <p class="text-center">
                <a href="{{url_for('descargar_resultados_optimos')}}" class="btn btn-outline-info">Descargar Resultados (Excel)</a>
            </p>
        </div>
    </div>

    <!-- Navegación -->
    <div class="mb-4">
        <div class="text-center">
            <a href="{{ url_for('seleccion_app') }}" class="btn btn-secondary me-2">Volver al Selector de Módulo</a>
            <a href="{{ url_for('logout') }}" class="btn btn-danger">Cerrar sesión</a>
        </div>
    </div>



    <div class="card shadow-lg mb-4">
        <div class="card-header bg-info text-white">
            <h1>Modelo de Optimización</h1>
        </div>

        <div class="card-body">
            
            <h2>Conjuntos y Parámetros</h2>
            <ul>
                <li><b>Conjuntos:</b>
                    <ul>
                        <li>\( i \in I \): Conjunto de ingredientes.</li>
                        <li>\( j \in J \): Conjunto de aminoácidos esenciales.</li>
                    </ul>
                </li>
                <li><b>Parámetros:</b>
                    <ul>
                        <li>\( D_i \): Digestibilidad del ingrediente \( i \).</li>
                        <li>\( C_i \): Costo del ingrediente \( i \).</li>
                        <li>\( P_i \): Contenido de proteínas del ingrediente \( i \) (en porcentaje).</li>
                        <li>\( W_{\text{min}, i}, W_{\text{max}, i} \): Límites inferiores y superiores de la fracción de mezcla del ingrediente \( i \).</li>
                        <li>\( \text{AA}_{i,j} \): Contenido del aminoácido esencial \( j \) en el ingrediente \( i \).</li>
                        <li>\( \text{req}_j \): Requerimiento mínimo del aminoácido esencial \( j \).</li>
                        <li>\( P_{\text{min}}, P_{\text{max}} \): Valores mínimos y máximos del contenido de proteínas en los ingredientes.</li>
                        <li>\( D_{\text{min}}, D_{\text{max}} \): Valores mínimos y máximos de la digestibilidad de los ingredientes.</li>
                        <li>\( \text{AA}_{\text{min}}, \text{AA}_{\text{max}} \): Valores mínimos y máximos del contenido de aminoácidos en los ingredientes.</li>
                    </ul>
                </li>
            </ul>

            <h2>Variables</h2>
            <ul>
                <li>\( W_i \): Fracción del ingrediente \( i \) en la mezcla.</li>
                <li>\( \text{AA}_{\text{mezcla}, j} \): Contenido total del aminoácido esencial \( j \) en la mezcla.</li>
                <li>\( P_{\text{mezcla}} \): Contenido de proteínas en la mezcla.</li>
                <li>\( D_{\text{mezcla}} \): Digestibilidad de la mezcla.</li>
                <li>\( \text{AAS}_j \): Puntuación de aminoácido esencial \( j \).</li>
                <li>\( \text{AAS}_{\text{limitante}} \): Puntuación del aminoácido limitante.</li>
                <li>\( \text{PDCAAS} \): Puntaje PDCAAS de la mezcla.</li>
            </ul>

            <h2>Función Objetivo</h2>
                \[ \max \text{PDCAAS} \]

            <h2>Restricciones</h2>
            <ol>
                <li><b>Cotas de las fracciones de mezcla:</b>
                    \[ W_{\text{min}, i} \leq W_i \leq W_{\text{max}, i}, \quad \forall i \in I \]
                </li>
                <li><b>Cotas de la fracción de proteínas en la mezcla:</b>
                    \[ P_{\text{min}} \leq P_{\text{mezcla}} \leq P_{\text{max}} \]
                </li>
                <li><b>Cotas de la digestibilidad de la mezcla:</b>
                    \[ D_{\text{min}} \leq D_{\text{mezcla}} \leq D_{\text{max}} \]
                </li>
                <li><b>Cotas del contenido de aminoácidos en la mezcla:</b>
                    \[ \text{AA}_{\text{min}} \leq \text{AA}_{\text{mezcla}, j} \leq \text{AA}_{\text{max}}, \quad \forall j \in J \]
                </li>
                <li><b>Suma de las fracciones:</b>
                    \[ \sum_{i \in I} W_i = 1 \]
                </li>
                <li><b>Cálculo del contenido de aminoácidos en la mezcla:</b>
                    \[ \text{AA}_{\text{mezcla}, j} = \sum_{i \in I} \left( \frac{P_i}{100} \cdot W_i \cdot \text{AA}_{i,j} \right), \quad \forall j \in J \]
                </li>
                <li><b>Cálculo del contenido de proteínas en la mezcla:</b>
                    \[ P_{\text{mezcla}} = \sum_{i \in I} \left( \frac{P_i}{100} \cdot W_i \right) \]
                </li>
                <li><b>Cálculo del puntaje de aminoácido esencial (AAS):</b>
                    \[ \text{AAS}_j = \frac{\text{AA}_{\text{mezcla}, j}}{P_{\text{mezcla}} \cdot \text{req}_j}, \quad \forall j \in J \]
                </li>
                <li><b>Puntuación del aminoácido limitante:</b>
                    \[ \text{AAS}_{\text{limitante}} \leq \text{AAS}_j, \quad \forall j \in J \]
                </li>
                <li><b>Cálculo del puntaje PDCAAS:</b>
                    \[ \text{PDCAAS} = D_{\text{mezcla}} \cdot \text{AAS}_{\text{limitante}} \]
                </li>
            </ol>
        
        
        </div>
    </div>
</div>    
</body>
</html>
{% endblock %}
